* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

h1 {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background-color: #252422;
  color: #fffcf2;
  text-align: center;
}

#msg {
  font-size: 2rem;
  font-weight: 500;
  background-color: #eb5e28;
  color: #fffcf2;
  padding: 1rem;
  border-radius: 1rem;
}

.choices {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 20%;
  width: 60%;
  overflow: hidden;
}

.choice {
  height: 90%;
  width: 30%;
  border: 5px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.choice:hover {
  border: 5px solid #eb5e28;
  cursor: pointer;
}

.choice img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.choice:hover img {
  scale: 0.8;
}

.score-board {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  gap: 4rem;
}

#your-score-count,
#comp-score-count {
  font-size: 3rem;
}

footer p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  background-color: #252422;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media (max-width: 550px) {
  .choices {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
